*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}


body{
    height:100vh;
    background:linear-gradient(145deg,#0a0f1a,#152033,#1e2d44);
    background-size:300% 300%;
    animation:bgMove 12s ease infinite;
    color:#fff;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}


body.light{
    background:linear-gradient(145deg,#e8eef8,#d7e3ff,#f0f4ff);
    color:#1e293b;
}

.theme-toggle{
    position:fixed;
    top:20px;
    right:20px;
    background:#fff;
    border:none;
    padding:12px;
    border-radius:50%;
    font-size:20px;
    cursor:pointer;
    box-shadow:0 0 10px #0003;
    z-index:10;
}

body.light .theme-toggle{
    background:#1e293b;
    color:#fff;
}


.card{
    width:90%;
    max-width:480px;
    margin:140px auto;
    padding:40px;
    border-radius:25px;
    text-align:center;
    backdrop-filter:blur(15px);
    background:rgba(255,255,255,0.06);
    border:1px solid rgba(255,255,255,0.22);
    color:#fff;
}

body.light .card{
    background:#1e293b;
    border:1px solid rgba(255,255,255,0.15);
    color:#fff;
}


.search{
    display:flex;
    gap:10px;
}

.search input{
    flex:1;
    padding:12px 20px;
    font-size:18px;
    border-radius:30px;
    border:none;
    background:#e3f2fd;
    color:#1e293b;
}

body:not(.light) .search input{
    background:rgba(255,255,255,0.15);
    color:#fff;
}

body.light .search input{
    background:#334155;
    color:#fff;
}

.search button{
    width:55px;
    height:55px;
    border-radius:50%;
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
}

.search button img{
    width:26px;
    filter:invert(0);
}

body:not(.light) .search button{
    background:#ffffffaa;
}

body.light .search button{
    background:#334155;
}
.loader{
    width:50px;
    height:50px;
    border:5px solid transparent;
    border-top-color:currentColor;
    border-radius:50%;
    margin:30px auto;
    animation:spin 1s linear infinite;
    display:none;
}

@keyframes spin{
    to{transform:rotate(360deg);}
}


.weather-icon{
    width:170px;
    margin-top:20px;
}

.weather h1{
    font-size:70px;
}

.details{
    display:flex;
    justify-content:space-between;
    margin-top:40px;
}

.col{
    display:flex;
    align-items:center;
}

.col img{
    width:45px;
    margin-right:10px;
}

.extra-info{
    margin-top:30px;
    font-size:18px;
}


.error{
    margin-top:10px;
    font-size:15px;
    color:#ff7b7b;
    display:none;
}
